GEMINI_API_KEY=
VITE_GA_MEASUREMENT_ID=
VITE_GEMINI_API_KEY=
VITE_WHATSAPP_NUMBER=
PAYPAL_CLIENT_ID=test
PAYPAL_CLIENT_SECRET=
VITE_PAYPAL_CLIENT_ID=test
PAYPAL_ENVIRONMENT=sandbox

# Primary Account (Capitec Bank)
BANK_NAME_CAPITEC="Capitec Bank"
ACCOUNT_NAME_CAPITEC="MR TH SEROKA"
ACCOUNT_NUMBER_CAPITEC="1602352133"
BRANCH_CODE_CAPITEC="470010"
SWIFT_CODE_CAPITEC="CABLZAJJ"
VITE_BANK_NAME_CAPITEC="Capitec Bank"
VITE_ACCOUNT_NAME_CAPITEC="MR TH SEROKA"
VITE_ACCOUNT_NUMBER_CAPITEC="1602352133"
VITE_BRANCH_CODE_CAPITEC="470010"
VITE_SWIFT_CODE_CAPITEC="CABLZAJJ"

# Secondary Account (First National Bank - FNB)
BANK_NAME_FNB="First National Bank (FNB)"
ACCOUNT_NAME_FNB="MR TH SEROKA"
ACCOUNT_NUMBER_FNB="62904917393"
BRANCH_CODE_FNB="250655"
SWIFT_CODE_FNB="FIRNZAJJ"
VITE_BANK_NAME_FNB="First National Bank (FNB)"
VITE_ACCOUNT_NAME_FNB="MR TH SEROKA"
VITE_ACCOUNT_NUMBER_FNB="62904917393"
VITE_BRANCH_CODE_FNB="250655"
VITE_SWIFT_CODE_FNB="FIRNZAJJ"
